
<div class="tab-pane <%='active' if current_page? info_member_path %>">
  <h4>Basic Info</h4>
  <table class="table table-striped">
    <tr>
      <td style="width:120px">Full Name: </td>
      <td><b><%=@member.full_name %></b></td>
    </tr>
    <tr>
      <td style="width:120px">Mobile: </td>
      <td><b><%=@member.mobile || "N/A" %></b></td>
    </tr>
    <tr>
      <td style="width:120px">Address: </td>
      <td><b><%=@member.address_details || "N/A"%></b></td>
    </tr>
  </table>
</div>
