<ul class="nav navbar-nav">
  <li>
    <a href="">
      <span class="title">MAIN NAVIGATION</span>
    </a>
  </li>
  <li>
    <a href="/store/index">
      <span class="icon fa fa-home"></span><span class="title">Store (Retail)</span>
    </a>
  </li>
  <li>
    <a href="/wholesales">
      <span class="icon fa fa-shopping-basket"></span> <span class="title">Store (Wholesale)</span>
    </a>
  </li>
  <li>
    <a href="/caterings">
      <span class="icon fa fa-shopping-basket"></span> <span class="title">Catering</span>
    </a>
  </li>
  <li>
    <%= link_to retail_orders_path do %>
      <span class="icon fa fa-cart-plus"></span> <span class="title">Sales</span>
    <% end %>
  </li>
  <li>
    <a href="/credits">
      <span class="icon fa fa-cart-arrow-down text-danger"></span> <span class="title">Credits</span>
    </a>
  </li>
  <li>
    <a href="/info">
      <span class="icon fa fa-info"></span> <span>Software Information</span>
    </a>
  </li>

</ul>
