<ul class="nav navbar-nav">
  <li>
    <a href="">
      <span class="title">MAIN NAVIGATION</span>
    </a>
  </li>
  <li>
    <a href="/store/index">
      <span class="icon fa fa-home"></span><span class="title">Store (Retail)</span>
    </a>
  </li>
  <li>
    <a href="/wholesales">
      <span class="icon fa fa-shopping-basket"></span> <span class="title">Store (Wholesale)</span>
    </a>
  </li>
  <li>
    <a href="/caterings">
      <span class="icon fa fa-shopping-basket"></span> <span class="title">Catering</span>
    </a>
  </li>
  <li>
    <a href="/products">
      <span class="icon fa fa-cubes"></span> <span class="title">Products</span>
    </a>
  </li>
  <li>
    <a href="/stocks">
      <span class="icon fa fa-tag"></span> <span class="title">Stocks</span>
    </a>
  </li>
  <li>
    <%= link_to retail_orders_path do %>
      <span class="icon fa fa-cart-plus"></span> <span class="title">Sales</span>
    <% end %>
  </li>
  <li>
    <a href="/credits">
      <span class="icon fa fa-cart-arrow-down text-danger"></span> <span class="title">Accounts Receivables</span>
    </a>
  </li>
  <li>
    <a href="/customers">
      <span class="icon fa fa-users"></span> <span class="title">Customers</span>
    </a>
  </li>
  <li>
    <a href="/suppliers">
      <span class="icon fa fa-male"></span> <span class="title">Suppliers</span>
    </a>
  </li>
  <li>
    <a href="/reports">
      <span class="icon fa fa-file-text-o"></span> <span class="title">Reports</span>
    </a>
  </li>
  <li>
    <a href="">
      <span class="title">   ACCOUNTING</span>
    </a>
  </li>
  <li>
    <a href="/accounting">
      <span class="icon fa fa-bar-chart"></span> <span class="title">General Ledger</span>
    </a>
  </li>
  <li>
    <a href="/accounting/income_statement">
      <span class="icon fa fa-area-chart"></span> <span class="title">Income Statement</span>
    </a>
  </li>
  <li>
    <a href="/accounting/balance_sheet">
      <span class="icon fa fa-balance-scale"></span> <span class="title">Balance Sheet</span>
    </a>
  </li>
  <li>
    <a href="/accounting/entries">
      <span class="icon fa fa-credit-card"></span> <span class="title">Entries</span>
    </a>
  </li>
  <li>
    <a href="/settings">
      <span class="icon fa fa-sliders"></span> <span class="title">Settings</span>
    </a>
  </li>
  <!-- <li>
    <a href="/dashboard">
      <span class="fa fa-dashboard"></span> <span>Dashboard</span>
    </a>
  </li> -->
</ul>
