<tr>
  <td><%= category.name %></td>
  <td class="pull-right">
    <%=link_to edit_category_path(category), remote: true do %>
      <span class="text-primary"><i class="fa fa-pencil" title="Edit" data-toggle='tooltip'></i></span>
    <% end %>
    &nbsp&nbsp&nbsp
    <% if category.products.blank? %>
      <%= link_to category_path(category), method: :delete, title: 'Delete Category', data: {confirm: 'Are you sure you want to delete this category? This action can not be undone.'} do %>
          <span class="text-danger" title="Delete Category" data-toggle='tooltip'><i class="fa fa-trash"></i></span>
      <% end %>
    <% end %>
  </td>
</tr>